* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 90px auto;
}

header {
  background-color: #2784c2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style-type: none;
  font-weight: bold;
  cursor: pointer;
}

nav ul li:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  background-color: #f3f0f0;
  border-radius: 10px;
  margin: 2rem;
}

.btns {
  display: flex;
  gap: 2rem;
}

.btn {
  width: 150px;
  height: 40px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  opacity: 0.8;
}

.data {
  width: 80%;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #2784c2;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #2784c2;
}

/*.content-table tbody tr.active-row {
  font-weight: bold;
  color: #2784c2;
} */

.creation {
  width: 400px;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  display: none;
}
form .text {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

div .choose {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.text input,
.choose select {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  color: rgb(48, 47, 47);
  border: none;
  background: none;
  outline: none;
}
.text label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.text span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.text input:focus ~ label,
.text input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.text input:focus ~ span::before,
.text input:valid ~ span::before {
  width: 100%;
}
.deleteBtn {
  background: #dd3d5a;
  width: 100px;
  font-size: 12px;
  padding:10px;
  margin:10px;
}

input[type="submit"],
input[type="button"] {
  width: 49%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover {
  border-color: #2691d9;
  transition: 0.5s;
}
